.bouquet-paper {
  text-align: center;
  font-size: 25px;
  padding: 0px 14px 28px 14px;
}

.bouquet-paper span {
  width: 40px;
  height: 30px;
  font-size: 28px;
  color: rgba(var(--accent));
  line-height: 50px;
}

.flowers-blessings {
  position: relative;
  width:350px;
  padding: 50px 50px 50px 50px;
  margin: 30px auto;
  border-radius: 15px;
  background: rgba(244 244 244);
  font-family: cormorant garamond;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: rgba(72 72 72);
}

.flowers-body {
  display:block;
  position: relative;
  z-index:1;
  padding: 0px 20px 70px 18px;
  margin-left: 10px;
  min-height: 200px;
  text-align: justify;
}


.where-flowers-are img { 
  }

.flowers-tag {
  position:absolute;
  left: 20px;
  bottom: px;
  width: 50px;
  white-space: nowrap;
  font-family: allura;
  font-size: 40px;
  color: rgba(var(--accent));
}

.flowers-tag2 {
  position: absolute;
  left: 28px;
  bottom: 5px;
}

.flowers-tag2 a {
  display: inline;
  text-decoration:none;
  color:rgba(74 74 74);
  padding:1px 6px;
  font-size:16px;
  font-weight:700;
  font-family: cormorant garamond;
}
