@font-face {
  font-family: 'mythixxclove';
  src:  url('https://mythiixx.github.io/mythasl/mythixxclove.eot');
  src:  url('https://mythiixx.github.io/mythasl/mythixxclove.eot') format('embedded-opentype'),
    url('https://mythiixx.github.io/mythasl/mythixxclove.ttf') format('truetype'),
    url('https://mythiixx.github.io/mythasl/mythixxclove.woff') format('woff'),
    url('https://mythiixx.github.io/mythasl/mythixxclove.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mythixxclove' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-oyster:before {
  content: "\e900";
}
