@font-face {
  font-family: 'mythixxclove';
  src:  url('fonts/mythixxclove.eot?pl7vdm');
  src:  url('fonts/mythixxclove.eot?pl7vdm#iefix') format('embedded-opentype'),
    url('fonts/mythixxclove.ttf?pl7vdm') format('truetype'),
    url('fonts/mythixxclove.woff?pl7vdm') format('woff'),
    url('fonts/mythixxclove.svg?pl7vdm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-oyster:before {
  content: "\e900";
}
